apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lighthouse-ci.fullname" . }}
  labels:
    {{- include "lighthouse-ci.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "lighthouse-ci.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "lighthouse-ci.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      serviceAccountName: {{ include "lighthouse-ci.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: lighthouse-ci
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: LHCI_LOG_LEVEL
              value: {{ .Values.logLevel | quote }}
            {{- if and .Values.basicAuthUsername .Values.basicAuthPassword }}
            - name: LHCI_BASIC_AUTH__USERNAME
              value: {{ .Values.basicAuthUsername | quote }}
            - name: LHCI_BASIC_AUTH__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "lighthouse-ci.secretName" . }}
                  key: basic-auth-password
            {{- end }}
            {{- if or .Values.mariadb.enabled .Values.externalMariadb.enabled }}
            - name: LHCI_STORAGE__SQL_DIALECT
              value: mysql
            - name: MARIADB_HOST
              value: {{ include "lighthouse-ci.mariadb.host" . | quote }}
            - name: MARIADB_PORT
              value: {{ include "lighthouse-ci.mariadb.port" . | quote }}
            - name: MARIADB_USERNAME
              value: {{ include "lighthouse-ci.mariadb.username" . | quote }}
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "lighthouse-ci.mariadb.secretName" . }}
                  key: mariadb-password
            - name: MARIADB_DATABASE
              value: {{ include "lighthouse-ci.mariadb.database" . | quote }}
            - name: LHCI_STORAGE__SQL_CONNECTION_URL
              value: "mysql://$(MARIADB_USERNAME):$(MARIADB_PASSWORD)@$(MARIADB_HOST):$(MARIADB_PORT)/$(MARIADB_DATABASE)"
            {{- end }}
            {{- if or .Values.postgresql.enabled .Values.externalPostgresql.enabled }}
            - name: LHCI_STORAGE__SQL_DIALECT
              value: postgres
            - name: POSTGRESQL_HOST
              value: {{ include "lighthouse-ci.postgresql.host" . | quote }}
            - name: POSTGRESQL_PORT
              value: {{ include "lighthouse-ci.postgresql.port" . | quote }}
            - name: POSTGRESQL_USERNAME
              value: {{ include "lighthouse-ci.postgresql.username" . | quote }}
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "lighthouse-ci.postgresql.secretName" . }}
                  key: postgresql-password
            - name: POSTGRESQL_DATABASE
              value: {{ include "lighthouse-ci.postgresql.database" . | quote }}
            - name: LHCI_STORAGE__SQL_CONNECTION_URL
              value: "postgres://$(POSTGRESQL_USERNAME):$(POSTGRESQL_PASSWORD)@$(POSTGRESQL_HOST):$(POSTGRESQL_PORT)/$(POSTGRESQL_DATABASE)"
            {{- end }}
          ports:
            - name: http
              containerPort: 9001
              protocol: TCP
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
          {{- end }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /usr/src/lhci/lighthouserc.json
              subPath: lighthouserc.json
            - name: data
              mountPath: /data
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "lighthouse-ci.fullname" . }}
        - name: data
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ default (include "lighthouse-ci.fullname" .) .Values.persistence.existingClaim }}
          {{- else }}
          emptyDir: {}
          {{- end }}
