{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "lighthouse-ci.secretName" . }}
  labels:
    {{- include "lighthouse-ci.labels" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations:
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- if and .Values.basicAuthUsername .Values.basicAuthPassword }}
  basic-auth-password: {{ .Values.basicAuthPassword | b64enc | quote }}
  {{- end }}
{{- end }}
