name: Renovate

on:
  schedule:
    - cron: '0 * * * 0'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0

      - name: Renovate
        uses: renovatebot/github-action@v44.0.2
        with:
          renovate-version: 42.11.0 # renovate: ghcr.io/renovatebot/renovate
        env:
          RENOVATE_ALLOWED_COMMANDS: "[\"bump-chart-version.sh\"]"
          RENOVATE_CONFIG_FILE: renovate.json
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
